<div style="font-family: 'Market Sans', Arial, sans-serif;">
<h3>$name</h3>
<p>$text</p>
<p>$releaseYear $label</p>

<p style="color:#800;">
<b>Versandzeiten</b><br>
Leider zeigt eBay außerhalb Deutschlands falsche Schätzwerte für die Lieferzeit von Artikeln an. Überseegebiete haben längere Lieferzeiten. Im Zweifel bitten wir dich, nachzufragen.<br>
In Deutschland wird speziell bei Warenpost (zum Beispiel bei Versand einer CD) bei eBay eine erfolgte Zustellung gemeldet, obwohl die Sendung erst im lokalen Verteilzentrum eingetroffen ist. Bitte prüfe hierzu den detaillierten Sendungsstatus, dort steht es oftmals korrekt.<br>
<br>
<b>Delivery times</b><br>
Unfortunately, eBay displays incorrect estimates for the delivery time of items outside Germany. Overseas areas in particular have longer delivery times. If in doubt, please ask us.<br>
</p>

<p style="color:#800;">
<b>Versand von Schallplatten/LPs</b><br>
Wir versenden die Schallplatten in der Regel eingeschweißt als Originalware.<br>
Wenn Du explizit Platten außerhalb des Covers verschickt haben möchtest und damit das Risiko einer Beschädigung des Covers vermeiden möchtest, informiere uns bitte mit einer kurzen Nachricht im Anmerkungsfeld beim Bestellvorgang. Wir senden die Platten in diesem Fall außerhalb des Covers, um Schäden an Cover und/oder Innenhülle zu vermeiden. Bei bedruckten Innenhüllen werden die Platten selbst in neuen antistatischen Innenhüllen versendet.<br>
<br>
<b>Shipping of vinyl records/LPs</b><br>
We will send you records - if possible - new and sealed.<br>
If you explicitly want us to ship your records outside the cover and therefore minimize the risk of damage to the cover, please inform us with a short message in the annotation field in the checkout. We will then send your records separated from the covers to avoid damages like seam splits on the cover and/or inner sleeve. We will place records housed in a printed inner sleeve in new antistatic bags.
</p>
</div>